<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.bootcss.com/zepto/1.1.6/zepto.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
        标题：<input type="text" id="title" name="title" />
    </div>
    <div>
        内容：<textarea id="content" name="content"></textarea>
    </div>
    <div>
        <input  type="submit" id="ok" value="添加新闻" />
    </div>
    <script>

    $('document').ready(function(){
      $('#ok').click(function(){
        var data = {};
        data.content = $('#content').val();
        data.title = $('#title').val();
        $.post('/add', data, function() {
          console.log('添加成功');
        })

      })
    })
    </script>
  </body>
</html>
